.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: var(--sidebar);
  height: 100vh;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border-radius: 0 15px 15px 0;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  transition: var(--sidebar-app);
}

.sidebar.active {
  left: 0;
}

.sidebar ul {
  display: flex;
  height: 100%;
  margin: 50px 0 0;
  padding: 0;
  flex-direction: column;
  list-style: none;
  row-gap: 5px;
}

.sidebar__link {
  color: #fff;
  text-decoration: none;
}

.sidebar__item {
  display: flex;
  margin: 5px;
  padding: 20px 30px 20px;
  font-size: 24px;
  border-radius: 5px;
}

.sidebar__item:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 181, 77, 1) 0%,
    rgba(255, 88, 88, 1) 50%,
    rgba(181, 71, 255, 1) 100%
  );
}

.sidebar__item span {
  margin-left: 20px;
}
