:root {
  --sidebar: 250px;
  --sidebar-app: 1s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(181, 71, 255, 1) 0%,
    rgba(255, 88, 88, 1) 50%,
    rgba(255, 181, 77, 1) 100%
  );
}

.screen__title {
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
